<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <PublishProvider>FileSystem</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>$(UserProfile)\Documents\WebDeploy\Packages\BlazorDemo\build.$([System.DateTime]::Now.ToString("yyyy.MM.dd.HHmmss"))\BlazorDemo.zip</DesktopBuildPackageLocation>
    <ProjectGuid>db897de4-c7be-409e-88ac-d05fe0c026ff</ProjectGuid>
    <!--<publishUrl>C:\Users\macivoce\Documents\WebDeploy\LocalPackages\BlazorDemo</publishUrl>-->
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <_IsPortable>false</_IsPortable>
    <RuntimeIdentifier>win10-x64</RuntimeIdentifier>
  </PropertyGroup>
</Project>